.about{
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-info{
    margin-left: 60px;
    max-width: 350px;
    text-align: center;
    &--main{
        max-width: 600px;
        margin-left: 0;
    }
    &--upper{
        margin: 0;
    }
    &--single{
        text-align: left;
    }
    &--mainpage{
        max-width: 600px;
        margin-left: 0;
    }
}

.beans{
    &__about{
        padding-bottom: 60px;
    }
}