@import "./global";
@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");

.nav{
    &__item{
        color: #fff;
        &+.nav__item{
            margin-left: 40px;
        }
    }
    &__item--first{
        padding-left: 31px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            left: -5px;
            top: -20px;
            background-image: url("../resources/Beans.svg");
        }
    }
}

.separation-line{
    margin: 0 auto;
    width: 240px;
    height: 1px;
    background-color: #000;
}

.goods{
    padding-top: 60px;
    padding-bottom: 60px;
    &__top{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
}
